    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    /* body {
        background-color: rgb(190, 225, 214);
    }  */
    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./Image/background.jfif');
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    nav {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    /* nav {
        background-color: white;
    } */
    
    nav img {
        width: 80px;
        margin-top: 20px;
    }
    
    .nav-links {
        flex: 1;
        text-align: right;
    }
    
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
    }
    
    .nav-links ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    .nav-links ul li ::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::after {
        width: 100%;
    }